<header
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="{{ path('main') }}" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="assets/images/logo-cuisinea-horizontal.jpg" alt="Logo restaurant" width="250">
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{{ path('main') }}" class="nav-link px-2 link-secondary">Accueil</a></li>
        <li><a href="{{ path('carte') }}" class="nav-link px-2 link-dark">Carte</a></li>
        <li><a href="{{ path('app_reservation_new') }}" class="nav-link px-2 link-dark">Reservation</a></li>
        <li><a href="{{ path('contact') }}" class="nav-link px-2 link-dark">Contact</a></li>
      </ul>

      <div class="col-md-5 text-end"> 
        {% if app.user %}
          {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_index') }}" class="btn btn-outline-primary me-2">Administration</a>
          {% endif %}
          
          <a href="#" class="btn btn-outline-primary me-2">Mon compte</a>
          <a href="{{ path('app_logout') }}" class="btn btn-primary">Me déconnecter</a>
          
        {% else %}
          <a href="{{ path('app_register') }}" class="btn btn-outline-primary me-2">M'inscrire</a>
          <a href="{{ path('app_login') }}" class="btn btn-primary">Me connecter</a>
        {% endif %}     
      </div>
    </header>