{% extends 'base.html.twig' %}

{% block title %}ServiceSoir index{% endblock %}

{% block body %}
    <h1>ServiceSoir index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Horaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service_soir in service_soirs %}
            <tr>
                <td>{{ service_soir.id }}</td>
                <td>{{ service_soir.horaire ? service_soir.horaire|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_service_soir_show', {'id': service_soir.id}) }}">show</a>
                    <a href="{{ path('app_service_soir_edit', {'id': service_soir.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_service_soir_new') }}">Create new</a>
{% endblock %}
