{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col">
                <h1>Inscription</h1>

                {{ form_start(registrationForm) }}
                    <fieldset class="mb-3"
                        {{ form_row(registrationForm.lastname) }}
                        {{ form_row(registrationForm.firstname) }}
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.phoneNumber) }}
                        {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'}) }}
                    </fieldset>
                        <legend>Informations complémentaires <br> (Ces informations sont optionnelles et servent à pré-remplir le formulaire de réservation).</legend>
                        {{ form_row(registrationForm.nbCouverts) }}
                        {{ form_row(registrationForm.allergie) }}
                    </fieldset>
                    
                    {{ form_row(registrationForm.RGPDConsent) }}

                    <button type="submit" class="btn btn-primary btn-lg my-3">M'inscrire
                    </button>
                    <a href="{{ path('app_login') }}" class="btn btn-secondary">Me connecter</a>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </section>
    
{% endblock %}
