{% extends 'base.html.twig' %}

{% block title %}Galerie index{% endblock %}

{% block body %}
    {# <main class="container">
        <section class="row">
            {% include "_partials/_adminNav.html.twig" %}
            <div class="col-9 border border-light bg-white p-2"> #}
                <h1>Galerie</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Images</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for galerie in galeries %}
                            <tr>
                                <td>{{ galerie.id }}</td>
                                <td>{{ galerie.image.title }}</td>
                                <td>
                                    {# <a href="{{ path('app_galerie_show', {'id': galerie.id}) }}">show</a> #}
                                    <a href="{{ path('app_galerie_edit', {'id': galerie.id}) }}" class="btn btn-primary">Modifier</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                 <td colspan="2">no records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {# <a href="{{ path('app_galerie_new') }}">Create new</a> #}
            {# </div>      
        </section>
    </main> #}
{% endblock %}
