{% extends 'base.html.twig'%}

{% block title %}Carte | {{ parent()}} {% endblock %}

{% block body %}
<div>
  <div class="mt-5 mx-auto" style="width: 300px">
    <h2>Nos menus</h2>
  </div>
  <section class="row mt-5 shadow p-3 mb-5 bg-white rounded">
    {% for menu in menus %}
      <div class="col-4">
        <h3> {{ menu.title }} : </h3> 
      </div>
      <div class="col-6">      
          {% for formule in menu.formule %}
            <h4>{{ formule.name }} - {{ formule.price }}€</h4>
            <p> {{ formule.description | nl2br }} </p>  
          {% endfor %}
      </div>
    {% endfor %}
  </section>

    <div class="mt-5 mx-auto" style="width: 300px">
      <h2>A la carte</h2>
    </div>
  <section class="mt-5 shadow p-3 mb-5 bg-white rounded">
    <div class="row mt-5">
      <div class="col-4">
        <h3>Les entrées :</h3>
      </div>
      <div class="col-6">
        {% for entree in entrees %}
          <h4> {{ entree.title }} - {{ entree.price }}€ </h4>
          <p> {{ entree.description | nl2br }} </p>
        {% endfor %}
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-4">
        <h3>Les plats :</h3>
      </div>
      <div class="col-6">
        {% for plat in plats %}
          <h4> {{ plat.title }} - {{ plat.price }}€ </h4>
          <p> {{ plat.description | nl2br }} </p>
        {% endfor %}
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-4">
        <h3>Les desserts :</h3>
      </div> 
      <div class="col-6">
        {% for dessert in desserts %}
          <h4> {{ dessert.title }} - {{ dessert.price }}€ </h4>
            <p> {{ dessert.description | nl2br }} </p>  
        {% endfor %}
      </div>
    </div>
  </section>
</div>
{% endblock %}
