{% extends 'base.html.twig' %}

{% block title %}ServiceMidi index{% endblock %}

{% block body %}
    <h1>ServiceMidi index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Horaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service_midi in service_midis %}
            <tr>
                <td>{{ service_midi.id }}</td>
                <td>{{ service_midi.horaire ? service_midi.horaire|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_service_midi_show', {'id': service_midi.id}) }}">show</a>
                    <a href="{{ path('app_service_midi_edit', {'id': service_midi.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_service_midi_new') }}">Create new</a>
{% endblock %}
