{% extends 'base.html.twig' %}

{% block title %}Formule index{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            {% include "_partials/_adminNav.html.twig" %}
            <div class="col-9 border border-light bg-white p-2">
                <h1>Formules</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Menu</th>
                            <th>Formule</th>
                            <th>Description</th>
                            <th>Prix</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for formule in formules %}
                        <tr>
                            <td>{{ formule.id }}</td>
                            <td>{{ formule.menu.title }}</td>
                            <td>{{ formule.name }}</td>
                            <td>{{ formule.description }}</td>
                            <td>{{ formule.price }}</td>
                            <td>
                                <a href="{{ path('app_formule_show', {'id': formule.id}) }}">show</a>
                                <a href="{{ path('app_formule_edit', {'id': formule.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('app_formule_new') }}">Create new</a>
            </div>
        </section>
    </main>
{% endblock %}
