{% extends 'base.html.twig' %}

{% block title %}Couvert{% endblock %}

{% block body %}
    <h1>Couvert</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ couvert.id }}</td>
            </tr>
            <tr>
                <th>MaxCouverts</th>
                <td>{{ couvert.maxCouverts }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_couvert_index') }}">back to list</a>

    <a href="{{ path('app_couvert_edit', {'id': couvert.id}) }}">edit</a>

    {{ include('couvert/_delete_form.html.twig') }}
{% endblock %}
