{% extends 'admin/adminTemplate.html.twig' %}

{% block title %}Edit Reservation{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('assets/css/reservation-Form.css') }}">
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/js/reservation-Form.js') }}"defer></script> 
{% endblock %}

{% block main %}
    <div class="h1Admin">
        <h1>Réservation</h1>
            <a href="{{ path('app_reservation_index') }}" class="btn btn-outline-primary">Retour</a>
        <div class="deleteButton">
            {{ include('admin/reservationAdmin/_delete_form.html.twig') }}
        </div>
    </div>  

    <div id="formDiv">
        {{ include('admin/reservationAdmin/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
{% endblock %}
