{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            {% include "_partials/_adminNav.html.twig" %}
            <div class="col-9 border border-light bg-white p-2">
                <h1>Réservations</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>nb de couverts</th>
                            <th>Date et heure</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for reservation in reservations %}
                        <tr>
                            <td>{{ reservation.id }}</td>
                            <td>{{ reservation.lastname }}</td>
                            <td>{{ reservation.firstname }}</td>
                            <td>{{ reservation.nbCouverts }}</td>
                            <td>{{ reservation.dateTime ? reservation.dateTime|date('d-m-Y H:i') : '' }}</td>
                            <td>
                                <a href="{{ path('app_reservation_show', {'id': reservation.id}) }}">show</a>
                                <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{{ path('app_reservation_new') }}">Create new</a>
            </div>
        </section>
    </main>    

{% endblock %}
