{% extends 'admin/index.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block main %}
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ reservation.lastname }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ reservation.firstname }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ reservation.phoneNumber }}</td>
            </tr>
            <tr>
                <th>NbCouverts</th>
                <td>{{ reservation.nbCouverts }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ reservation.date ? reservation.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Service</th>
                <td>{{ reservation.service }}</td>
            </tr>
            <tr>
                <th>Comments</th>
                <td>{{ reservation.comments | raw | nl2br }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservation_index') }}">back to list</a>

    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>

    {{ include('admin/reservationAdmin/_delete_form.html.twig') }}
{% endblock %}
